apiVersion: v1
assetConfig:
  logoutURL: ""
  masterPublicURL: https://{{ ansible_default_ipv4.address }}:8443
  publicURL: https://{{ ansible_default_ipv4.address }}:8443/console/
  servingInfo:
    bindAddress: 0.0.0.0:8443
    certFile: openshift.local.certificates/master/server.crt
    clientCA: ""
    keyFile: openshift.local.certificates/master/server.key
corsAllowedOrigins:
- 127.0.0.1
- {{ ansible_default_ipv4.address }}:8443
- localhost
dnsConfig:
  bindAddress: 0.0.0.0:53
etcdClientInfo:
  ca: openshift.local.certificates/ca/cert.crt
  certFile: openshift.local.certificates/master/etcd-client.crt
  keyFile: openshift.local.certificates/master/etcd-client.key
  urls:
  - https://{{ ansible_default_ipv4.address }}:4001
etcdConfig:
  address: {{ ansible_default_ipv4.address }}:4001
  peerAddress: {{ ansible_default_ipv4.address }}:7001
  peerServingInfo:
    bindAddress: 0.0.0.0:7001
    certFile: openshift.local.certificates/etcd/server.crt
    clientCA: openshift.local.certificates/ca/cert.crt
    keyFile: openshift.local.certificates/etcd/server.key
  servingInfo:
    bindAddress: 0.0.0.0:4001
    certFile: openshift.local.certificates/etcd/server.crt
    clientCA: openshift.local.certificates/ca/cert.crt
    keyFile: openshift.local.certificates/etcd/server.key
  storageDirectory: openshift.local.etcd
etcdStorageConfig:
  kubernetesStorageVersion: v1beta3
  openShiftStorageVersion: v1beta1
imageConfig:
  format: openshift/origin-${component}:${version}
  latest: false
kind: MasterConfig
kubeletClientInfo:
  ca: openshift.local.certificates/ca/cert.crt
  certFile: openshift.local.certificates/master/kubelet-client.crt
  keyFile: openshift.local.certificates/master/kubelet-client.key
  port: 10250
kubernetesMasterConfig:
  masterIP: {{ ansible_default_ipv4.address }}
  schedulerConfigFile: ""
  servicesSubnet: 172.30.0.0/16
  staticNodeNames:
  - {{ ansible_fqdn }}
masterClients:
  deployerKubeConfig: openshift.local.certificates/openshift-deployer/.kubeconfig
  kubernetesKubeConfig: openshift.local.certificates/kube-client/.kubeconfig
  openshiftLoopbackKubeConfig: openshift.local.certificates/openshift-client/.kubeconfig
masterPublicURL: https://{{ ansible_default_ipv4.address }}:8443
oauthConfig:
  assetPublicURL: https://{{ ansible_default_ipv4.address }}:8443/console/
  grantConfig:
    method: auto
  identityProviders:
  - name: my_request_header_provider
    challenge: false
    login: false
    provider:
      apiVersion: v1
      kind: RequestHeaderIdentityProvider
      clientCA: {{ proxy_auth_ca_file | default('openshift.local.certificates/ca/cert.crt') }}
      headers:
      - X-Remote-User
  masterPublicURL: https://{{ ansible_default_ipv4.address }}:8443
  masterURL: https://{{ ansible_default_ipv4.address }}:8443
  sessionConfig:
    sessionMaxAgeSeconds: 300
    sessionName: ssn
    sessionSecretsFile: ""
  tokenConfig:
    accessTokenMaxAgeSeconds: 86400
    authorizeTokenMaxAgeSeconds: 300
policyConfig:
  bootstrapPolicyFile: openshift.local.policy/policy.json
  masterAuthorizationNamespace: master
  openshiftSharedResourcesNamespace: openshift
servingInfo:
  bindAddress: 0.0.0.0:8443
  certFile: openshift.local.certificates/master/server.crt
  clientCA: openshift.local.certificates/ca/cert.crt
  keyFile: openshift.local.certificates/master/server.key
